
html{
    scroll-behavior: smooth;
}



body{
    font-family: 'Roboto', sans-serif;
}

#first-section{
    background-image: url("./assets/assets/image/New\ Project\ \(15\).png");
    background-repeat: no-repeat;
    background-size: cover;


}

/* navbar */
.offcanvas{
    max-width: 50%;
}

.container-fluid{
    padding: 2% 10% 2% 10%;
}

a{
    text-align: center;

}
a.nav-link{

    padding-top: 40px;
    margin: 0 10px;

}
h1.navbar-brand{
    font-size: 28px;

    padding-top: 40px;
}
h1.best-place{
    padding-top: 100px;
    text-align: center;
    font-size: 46px;
}

.list-home{
    margin: 100px 5px;
    font-size: smaller;


}
.see-more{
    font-size: smaller;
}


@media(max-width: 768px){
.navbar-toggler{
    font-size: medium;
}
a.nav-link{
    padding: 12px;
}
.div-home{
    text-align: center;

}
.list-home{
    font-size: small;
}
h1.navbar-brand{

        font-size: 20px;
}
h1.best-place{

    font-size: 38px;
}

}

@media(max-width: 576px){
    .navbar-toggler{
        font-size: xx-small;
        margin-top: 15px;
    }
    a.nav-link{
        padding: 8px;
        font-size: 12px;
    }
    .div-home{
        text-align: center;

    }
    .list-home{
        font-size: xx-small;
    }
    h1.navbar-brand{

            font-size: 16px;
    }
    h1.best-place{

        font-size: 30px;
    }

    }

/* about section */

.about-p{
    padding-left: 50px;
    padding-right: 10px;
    padding-top: 80px;
    color: rgb(78, 77, 77);
    letter-spacing: .5px;
}
img.img-5{
margin-top: 50px;
    width: 300px;
    height: 500px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    text-align: center;

}
.about-us{
    padding-top: 50px;
}
ul{
    list-style-type: none;
    padding: 0;
    }


@media(max-width: 768px){

.about-us{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
img.img-5{
    display: block;
    margin: 0 auto;
    width: 80%;
    height: auto;
}
.about-p{
    padding-top: 20px;
    font-size: 14px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

}
@media(max-width: 576px){

    .about-us{
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 20px;
    }
    img.img-5{
        display: block;
        margin: 0 auto;
        width: 90%;
        height: auto;
    }
    .about-p{
        padding: 20px 50px 10px 50px;

        font-size: 10px;
        display: block;
        margin: 0 auto;
    }

    }

/* for sale section */

.img-for-sale{
    width: 100%;
    height: auto;
display: block;
        margin: 0 auto;
        box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

}
.img-properties{
    padding: 20px;



}

.h6-txt{

    display: block;
    margin: 0 auto;
}
.pro-sale{
    padding-top: 50px;
}
.forsale{
    color: rgb(96, 95, 95);
}
@media(max-width: 768px){
ul{
    font-size: 14px;
}

}



@media(max-width: 576px){
.img-for-sale{
   width: 100%;
   height: auto;
}
.pro-sale{
    font-size: 20px;
    text-align: center;
}
ul{
    font-size: 12px;
}

}

/* testemonial section */

.client-test{
    margin: auto;
    width: 100%;
    padding-top: 30%;


}
.carousel-item{
   border: 1px solid rgb(218, 215, 215);

}
.carousel-img{
    width: 600px;
}


@media(max-width: 576px){
    .carousel-img{
       width: 100%;
       height: auto;
    }
  .p-test{
    font-size: 10px;
  }
  .client-test{

    font-size: 20px;
    padding-top: 10%;


}
}    
