
html{
    scroll-behavior: smooth;
   
}



body{
    font-family: 'Roboto', sans-serif;
   
}

.inline-nav{
    display: inline;
}


/* navbar */
.offcanvas{
    max-width: 50%;
}

.glyphicon-nav {
    width: 18px;
    padding: 8px 0;
    position: relative;
    display: inline-block;
  }
  .glyphicon-nav:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-top: 2px solid #055380;
    border-bottom: 2px solid #055380;
    top: 0px;
  }
  .glyphicon-nav:after {
    content: '';
    position: absolute;
    top: 7px;
    left: 0px;
    height: 2px;
    width: 100%;
    background: #055380;
  }

  .footer-icon{
    color: #055380 ;
  }
/* .container-fluid{
    padding: 2% 10% 2% 10%;  
   
  
} */

a{
    text-align: center;

}
a.nav-link{

    padding-top: 40px;
    margin: 0 10px;

}
h1.navbar-brand{
    font-size: 28px;

    padding-top: 40px;
}

h1, h2, h3, h4, h5, h6, p{
    color: #055380;
}

li {
    color: #055380; 
}



/* #player-overlay {
   
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 999;
  }
  
  video {
    display: block;
    width: 100%;
    height: 100%;
  } */

  .btn{
    color: #055380;
  }

@media(max-witdh: 768px){
    .video{
        max-width: 768px;
        height: 300px;
    }
}


@media(max-width: 768px){
.navbar-toggler{
    font-size: medium;
}
a.nav-link{
    padding: 12px;
}
.div-home{
    text-align: center;

}
.list-home{
    font-size: small;
}
h1.navbar-brand{

        font-size: 20px;
}
h1.best-place{

    font-size: 38px;
}

}

@media(max-width: 576px){
    .navbar-toggler{
        font-size: xx-small;
        margin-top: 15px;
    }
    a.nav-link{
        padding: 8px;
        font-size: 12px;
    }
    .div-home{
        text-align: center;

    }
    .list-home{
        font-size: xx-small;
    }
    h1.navbar-brand{

            font-size: 16px;
    }
    h1.best-place{

        font-size: 30px;
    }

    }

/* about section */

.about-p{
    padding-left: 50px;
    padding-right: 10px;
    padding-top: 80px;
    color: #055380;
    letter-spacing: .5px;
}
img.img-5{
margin-top: 50px;
    width: 300px;
    height: 500px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    text-align: center;

}
.about-us{
    padding-top: 50px;
}
input, select, textarea{
    color: #055380;
    font-size: 16px;
}
textarea:focus, input:focus {
    color: #055380;
}
input[type=email]{
    color: #055380;
}
ul{
    list-style-type: none;
    padding: 0;
    }


@media(max-width: 768px){

.about-us{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
img.img-5{
    display: block;
    margin: 0 auto;
    width: 80%;
    height: auto;
}
.about-p{
    padding-top: 20px;
    font-size: 14px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
ul{
    font-size: 14px;
}

}


/* for sale section */

.img-for-sale{
    width: 100%;
    height: auto;
display: block;
        margin: 0 auto;
        box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

}
.img-properties{
    padding: 20px;



}

.h6-txt{

    display: block;
    margin: 0 auto;
}
/* .pro-sale{
    padding-top: 50px;
} */
.forsale{
    color: rgb(96, 95, 95);
}






/* testemonial section */

.client-test{
    margin: auto;
    width: 100%;
    padding-top: 30%;


}
.carousel-item{
   border: 1px solid rgb(218, 215, 215);

}
.carousel-img{
    width: 600px;
}



@media (max-width: 576px){
    .about-us{
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 20px;
    }
    img.img-5{
        display: block;
        margin: 0 auto;
        width: 90%;
        height: auto;
    }
    .about-p{
        padding: 20px 50px 10px 50px;

        font-size: 10px;
        display: block;
        margin: 0 auto;
    }

    .img-for-sale{
        width: 100%;
        height: auto;
     }
     .pro-sale{
         font-size: 20px;
         text-align: center;
     }
     ul{
         font-size: 12px;
     }

.contact{
    font-size: 20px;
}
p.contact{
    font-size: 12px;
}
input::placeholder {
    font: 12px/3 sans-serif;
}
textarea::placeholder {
    font-size: 12px;
}
.h1-elegant{
    font-size: 20px;
}
.h3-elegant{
    font-size: 16px;
}
.p-elegant{
    font-size: 12px;
}
.carousel-img{
    width: 100%;
    height: auto;
 }
.p-test{
 font-size: 10px;
}
.client-test{

 font-size: 20px;
 padding-top: 10%;


}
}


 



